header
{
    position:fixed;
}
body{
    background-image:url(https://i.imgur.com/uG1oiwK.gif);  
    background-color: #000000;
    color: #E145F1;
    font-family: serif;
    font-size:32px;
    width: 40%;
    max-height:auto;
    margin:auto;
}